/.env

/WebshopBackend/target/
/WebshopBackend/.idea/
/WebshopBackend/.mvn/
/WebshopBackend/mvnw/
/WebshopBackend/mvnw.cmd

/UserAndAuthBackend/target/
/UserAndAuthBackend/.idea/
/.idea/

/WebshopFrontend/flutterfrontend.iml/
/WebshopFrontend/.idea/
/WebshopFrontend/.dart_tool/
/WebshopFrontend/.flutter-plugins/
/WebshopFrontend/.flutter-plugins-dependencies/
/WebshopFrontend/build/
/WebshopFrontend/.idea/
