<!DOCTYPE html>
    <html lang="EN">
        <head>
            <meta charset="UTF-8">
            <title>Email Verification</title>

            <style>
                .button {
                    display: inline-block;
                    padding: 10px 20px;
                    background-color: #4CAF50;
                    color: white;
                    text-align: center;
                    text-decoration: none;
                    cursor: pointer;
                    border-radius: 5px;
                    border: none;
                }
            </style>
        </head>
        <body>
            <h1>Email Verification</h1>
            <p>Hello {{name}},</p>
            <p>Please click the following button to verify your email:</p>
            <p><a class="button" href="{{verification_link}}">Verify Email</a></p>
            <p>Thank you!</p>
        </body>
    </html>